<p class="text-center text-muted">© Developed By
    <a target="__blank" href="https://www.linkedin.com/in/anik1505/" title="Open my LinkedIn">Aniket Dutta</a>
</p>

<p class="text-center text-muted">Have any query, please mail me by clicking this link:-
    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=iamaniketdutta@gmail.com" target="_blank">iamaniketdutta@gmail.com</a>
</p>
